
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Octoblog</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{{base_url}}/assets/css/index.css" />
</head>
<body>
    
    <nav class="navbar">
        <div class="navbar-brand">
            <h1 class="title is-1">Octoblog</h1>
        </div>
    </nav>
